<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <akka>
        <hocon>
            <![CDATA[
                akka {
                    actor {
                        deployment{
                            /rutko {
                                router = round-robin-pool
                                nr-of-instances = 5
                                # linija se komentira znakom #
                                #resizer {
                                #    enabled = on
                                #    lower-bound = 2
                                #    upper-bound = 15
                                #}  
                            }
                        }
                    }
                }
            ]]>
        </hocon>
    </akka>
</configuration>